#root {
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 0.2em;
}

.read-the-docs {
    color: #888;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @media (min-width: 640px) {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    @media (min-width: 768px) {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    @media (min-width: 1280px) {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    @media (min-width: 1252px) {
        max-width: 1252px;
    }

    @media (min-width: 1320px) {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}