.tippy-box[data-theme~="light"] {
  background-color: #0c0c11;
  color: #fefefe;
}

.tippy-box[data-theme~="dark"] {
  background-color: #fefefe;
  color: #0c0c11;
}

.tippy-box[data-theme~="dark"] .tippy-arrow {
  color: #fefefe;
}

.tippy-box[data-theme~="light"] .tippy-arrow {
  color: #0c0c11;
}
