@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface-primary: #FEFEFE;
    --surface-secondary: #F4F5F9;
    --surface-attestation-data: #2D4EC30D;
    --surface-magenta-20: #FAE8F1;

    --indicator-blue: #2D4EC3;
    --indicator-magenta: #D6247A;
    --indicator-green: #41AC00;
    --indicator-orange: #B93800;

    --text-primary: #0D0D12;
    --text-secondary: #3D3D51;
    --text-tertiary: #656B87;
    --text-quaternary: #9096B2;
    --text-blue: #2D4EC3;
    --text-magenta: #D6247A;

    --border-card: #DAD8EC;
    --border-table: #EAEAF3;

    --scrollbar: #A4A8C2;

    --hover-lime20: #F3FFD2;

    --button-primary-background: #C4FF1C;
    --button-primary-text: #0D0D12;
    --button-primary-hover: #AFED00;

    --button-secondary-text: #0D0D12;
    --button-secondary-hover: #6E7491;
    --button-secondary-border: #DAD8EC;
  }
}

@layer base {
  * {
    @apply font-inter;
  }

  body {
    @apply bg-surface-primary;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .scrollbar {
    scrollbar-width: 6px;
    scrollbar-color: var(--surface-primary) var(--scrollbar);
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: var(--surface-primary);
    border-radius: 20px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 20px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    opacity: 0.6;
  }
}

@layer components {

  .sort-arrows path {
    stroke: #B7B9D2;
  }

  .sort-arrows.desc path:nth-child(1),
  .sort-arrows.desc path:nth-child(2) {
    stroke: #9096B2;
  }

  .sort-arrows.asc path:nth-child(3),
  .sort-arrows.asc path:nth-child(4) {
    stroke: #9096B2;
  }

  .table-row-transition {
    transition: all cubic-bezier(0, 0.52, 1, 1) .7s;

    td:last-child {
      display: flex;
      justify-content: flex-end;
      position: relative;
      transition: transform 0.5s;

      &:after {
        content: '\203A';
        position: absolute;
        opacity: 0;
        top: 15px;
        right: 0;
        transition: 0.5s;
        scale: 2;
      }
    }
  }

  .table-row-transition:hover {
    td:last-child {
      transform: translateX(-20px);

      &:after {
        opacity: 1;
      }
    }
  }
}